@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body {
  background: #757f9a; 
  background: -webkit-linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); 
  background: linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); 
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background:white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(111, 54, 164);
  border-radius: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -1rem;
}
.heading {
  letter-spacing: 10px;
  font-family: 'Rubik Microbe', cursive;
  font-size: 3rem;
}
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 1rem;
}
.note {
  background-color: #1c1f407d;
  color: whitesmoke;
  white-space: pre-wrap;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gold;
  transition: .4s ease-in-out;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
textarea {
  border: none;
  resize: none;
  background-color: transparent;
  color: whitesmoke;
  white-space: pre-wrap;
  font-family: 'Rajdhani', sans-serif;
}
.note.new {
  background-color: #1c1f407d;
}
textarea:focus {
  outline: none;
}
.save {
  background-color: #1c1f407d;
  border: none;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  border: 1px solid gold;
}
.save:hover {
  background-color: #1c1f40;
  color: white;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.delete-icon {
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
  background-color: #1c1f407d;
  border-radius: 10px;
  padding: 0.8rem;
  margin-bottom: 10px;
  border: 1px solid gold;
}
.search input {
  border: none;
  background-color: transparent;
  color: white;
}
.search:focus {
  outline: none;
  transform: scale(1.1);
}
.dark-mode {
  background-color: #1c1f407d;
  min-height: 100vh;
}
.dark-mode h1 {
  color: white;
  background-color: #1c1f407d;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
::placeholder{
  color: white;
  font-family: 'Rajdhani', sans-serif;
}
